@import "./vendor/reset.scss";

$primaryColor: #E82E4C;
$themeBgColor: #FFFBFB;
$themeTextColor: #626262;
$footerMiddleBgColor: #222222;
$footerBottomBgColor: #1b1b1b;
$themeBlackColor: #303030;
$themeWhiteColor: #fefefe;

/*=======================================================
                        header
=======================================================*/
#header {}
