@import "./vendor/reset.scss";

$primaryColor: #ef1a3e;
$themeBgColor: #FFFBFB;
$themeTextColor: #626262;
$footerMiddleBgColor: #1b1b1b;
$footerBottomBgColor: #181818;
$themeBlackColor: #303030;
$themeWhiteColor: #fefefe;

.custom-container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    background-color: $themeBgColor !important;
}

/*=======================================================
                        header
=======================================================*/
#header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .header-top{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $themeBlackColor;
        a{
            color: #FFFBFB;
            font-family: "Manrope", Sans-serif;
            font-size: 14px;
            font-weight: 500;
            &:hover{
                color: $primaryColor;
            }
            i{
                color: $primaryColor;
                margin-right: 5px;
            }
        }
    }
    .header-bottom{
        transition: .3s;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, .15);
        background-color: #FFFBFB66;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        .custom-container{
            max-width: 1270px;
        }
        &:hover{
            background-color: $themeBgColor;
        }
        .navbar-brand img{
            min-width: 110px;
            width: 100%;
            max-width: 175px;
            height: 100%;
            max-height: 65px;
        }
        .navbar-nav{
            @media screen and (max-width: 767px) {
                align-items: center;
                background: $primaryColor;
                margin-left: -15px !important;
                margin-right: -15px !important;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 20px;
            }
            @media screen and (min-width: 768px) {
                flex-wrap: wrap;
            }
        }
        .navbar{
            @media screen and (max-width: 767px) {
                padding-top: 20px;
            }
            @media screen and (min-width: 768px) {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        .nav-item{
            margin-left: 9px;
            margin-right: 9px;
            width: max-content;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
        .nav-link{
            padding: 4px;
            color: $primaryColor;
            font-family: "Manrope", Sans-serif;
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            @media screen and (max-width: 767px) {
                width: 100%;
                color: #fff;
                text-align: center;
                padding: 10px;
                font-weight: 600;
                &:hover{
                    background: $themeBlackColor;
                }
            }
            @media screen and (min-width: 768px) {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0);
                    background-color: $themeBlackColor;
                    transition: transform 0.3s;
                }
                &:hover{
                    color: $themeBlackColor;
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
        .dropdown-menu{
            overflow: hidden;
            background-color: $primaryColor;
            margin: 0;
            padding: 0;
            border: none;
            @media screen and (max-width: 767px) {
                transition: none !important;
                -webkit-transition: none !important;
                -moz-transition: none !important;
                -ms-transition: none !important;
                -o-transition: none !important;
            }
            @media screen and (min-width: 768px) {
                overflow: hidden;
                margin-top: 23px;
                border-radius: 0 0 0.25rem 0.25rem;
            }
        }
        .dropdown-item{
            font-family: "Manrope", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #FFFFFF;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            line-height: 2;
            &:hover{
                background-color: $themeBlackColor;
            }
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
        .dropdown-item.active{
            background-color: #55595c;
        }
        .btn-blood-request{
            font-family: "Manrope", Sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            color: #FFFFFF;
            background-color: $primaryColor;
            border-radius: 40px 40px 40px 40px;
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0 , .12);
            padding: 10px 30px 10px 30px;
            &:hover{
                color: #fff;
                background-color: $themeBlackColor;
            }
        }
        .btn-donate{
            font-family: "Manrope", Sans-serif;
            font-size: 13px;
            font-weight: 800;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            color: $primaryColor;
            background-color: #61CE7000;
            border: 2px solid $primaryColor;
            border-width: 2px 2px 2px 2px;
            border-radius: 40px 40px 40px 40px;
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, .12);
            padding: 10px 30px 10px 30px;
            &:hover{
                border-color: #D7D7D7;
                color: #fff;
                background-color: $themeBlackColor;
            }
        }
        .navbar-toggler{
            margin-left: auto;
        }
        .navbar-toggler-icon i{
            font-size: 2rem;
            line-height: 1;
        }
        .header-btn-box{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 10px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}
#header.fixed{
    position: absolute;
}



/*=======================================================
                    breadcrumb-banner
=======================================================*/
#breadcrumb{
    background-color: $primaryColor;
    padding-top: 40px;
    padding-bottom: 40px;
    .page-title{
        color: #FFFFFF;
        font-family: "Manrope", Sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
        text-transform: capitalize;
        margin-bottom: 20px;
        text-align: center;
    }
    .page-subtitle{
        text-align: center;
        color: #FFE6E8;
        font-family: "Manrope", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
    }
}


/*=======================================================
                    breadcrumb-banner
=======================================================*/
#breadcrumb-banner{
    overflow: hidden;
    position: relative;
    min-height: 60vh;
    height: 100%;
    max-height: 593px;
    margin-bottom: 75px;
    #section-video{
        min-width: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 60vh;
        height: 100%;
        max-height: 593px;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
}


/*=======================================================
                        privacy-policy
=======================================================*/
#privacy-policy{
    padding-top: 100px;
    padding-bottom: 100px;
    .title,
    .desc{
        font-family: "Manrope", Sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
    .title{
        color: $primaryColor;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .desc{
        color: $themeBlackColor;
        font-weight: 500;
        margin-bottom: 14px;
    }
    .unorder-list{
        font-family: "Manrope", Sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 14px;
        list-style: inside;
        list-style-type: disc;
    }
}


/*=======================================================
                        terms-conditions
=======================================================*/
#terms-conditions{
    padding-top: 100px;
    padding-bottom: 100px;
    .title,
    .desc{
        font-family: "Manrope", Sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }
    .title{
        color: $primaryColor;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .desc{
        color: $themeBlackColor;
        font-weight: 500;
        margin-bottom: 14px;
    }
    .order-list{
        font-family: "Manrope", Sans-serif;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 14px;
        list-style: inside;
        list-style-type: decimal;
    }
}


/*=======================================================
                        about-us
=======================================================*/
#about-us{
    padding-bottom: 100px;
    .section-title{
        color: $primaryColor;
        font-family: "Manrope", Sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        margin-bottom: 60px;
    }
    .about-content-box{
        width: 100%;
        max-width: 502px;
        .desc{
            text-align: justify;
        }
    }
    .card.about-content-box{
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .12);
        padding: 22px;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
        background-repeat: no-repeat;
        background-size: 88px 128px;
        background-position: center;
        @media screen and(min-width:768px){
            padding: 44px;
            margin-left: auto;
            border-radius: 22px;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            -ms-border-radius: 22px;
            -o-border-radius: 22px;
        }
        .services-list{
            font-family: "Manrope", Sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: $themeTextColor;
            padding: 0;
            list-style: inside;
        }
    }
    .desc{
        font-family: "Manrope", Sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: $themeTextColor;
        margin-bottom: 15px;
        .highlighted{
            color: $primaryColor;
            font-weight: 700;
        }
    }
    .quote{
        max-width: 1100px;
        margin: 75px auto 100px !important;
        p{
            font-family: "Manrope", Sans-serif;
            font-size: 22px;
            font-weight: 500;
            margin-top: 15px;
            color: $themeTextColor;
            line-height: 1.5;
            &::before {
                color: $primaryColor;
                content: "“";
                font-size: calc(0.8px * 100);
                font-family: "Times New Roman",Times,serif;
                font-weight: 900;
                line-height: 1;
                display: block;
                height: 0.6em;
                margin-bottom: 15px;
            }
        }
    }
    .feature-card-box{
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        column-gap: 1rem;
        row-gap: 1rem;
        .card{
            width: 100%;
            height: 100%;
            min-width: 275px;
            min-height: 240px;
            max-width: 275px;
            max-height: 240px;
            border: none;
            padding: 40px 10px;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            background-color: $primaryColor;
            box-shadow: 2px 2px 22px 2px rgba(169, 68, 98, .28);
        }
        .feature-title{
            color: #FFFFFF;
            font-family: "Manrope", Sans-serif;
            font-size: 44px;
            font-weight: 900;
            line-height: 1;
            text-align: center;
        }
        .feature-subtitle{
            color: #FFFFFF;
            font-family: "Manrope", Sans-serif;
            font-weight: 600;
            text-align: center;
            font-size: 19px;
            line-height: 2.5;
        }
        .feature-desc{
            text-align: center;
            color: #FEF6F6;
            font-family: "Manrope", Sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
    }
}


/*=======================================================
                        footer
=======================================================*/
#footer{
    .footer-top{
        padding-top: 60px;
        padding-bottom: 75px;
        background-color: $primaryColor;
        padding-left: 15px;
        padding-right: 15px;
        .custom-container{
            border: 8px solid #fff;
            border-radius: 22px;
            padding-top: 25px;
            padding-bottom: 25px;
            @media (max-width: 991px) {
                border-radius: 11px;
                -webkit-border-radius: 11px;
                -moz-border-radius: 11px;
                -ms-border-radius: 11px;
                -o-border-radius: 11px;
            }
        }
        .row{
            row-gap: 50px;
        }
        .footer-title{
            color: #fff;
            font-family: "Manrope", Sans-serif;
            font-size: 40px;
            font-weight: 900;
            text-transform: capitalize;
            line-height: 44px;
            text-shadow: 0px 0px 4px rgba(0, 0, 0,.2);
            margin-bottom: 40px;
            margin-top: 60px;
            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 991px) {
                font-size: 30px;
                line-height: 1.1;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 20px;
                margin-top: 40px;
            }
        }
        .footer-subtitle{
            text-align: center;
            color: #FFFFFF;
            font-family: "Manrope", Sans-serif;
            font-size: 22px;
            font-weight: 600;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, .22);
            margin-bottom: 35px;
            @media (max-width: 991px) {
                font-size: 18px;
                line-height: 1.1;
                margin-bottom: 25px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 1.2;
                margin-bottom: 15px;
            }
        }
        .footer-desc{
            text-align: center;
            color: #FFFFFF;
            font-family: "Manrope", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 12px;
            @media (max-width: 991px) {
                font-size: 12px;
            }
        }
        .img-box img{
            width: 100%;
            max-width: 183px;
        }
        .footer-img-01{
            width: 100%;
            max-width: 228px;
            margin-left: auto;
            margin-right: auto;
        }
        .footer-img-02{
            width: 100%;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        .app-store-link-box{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
            row-gap: 30px;
            a{
                width: 100%;
                max-width: 200px;
            }
            img{
                max-height: 46px;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                &:hover{
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
            }
        }
        .swiper-pagination-bullet-active{
            background: #FFFFFF;
        }
    }
    .footer-middle{
        background-color: $footerMiddleBgColor;
        padding-top: 110px;
        padding-bottom: 60px;
        @media screen and (max-width: 767px) {
            .footer-pagination{
                align-items: center;
                row-gap: 30px;
            }
            .footer-nav-list{
                flex-direction: column;
            }
        }
        .footer-nav-item{
            padding-left: 25px;
            padding-right: 25px;
            border-right: 1px solid #ddd;
        }
        .footer-nav-link{
            font-family: "Manrope", Sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            color: #FFFFFF;
            &:hover{
                color: $primaryColor;
            }
        }
        .social-list{
            margin-left: 40px;
            column-gap: 15px;
        }
        .social-link{
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 36px;
            min-height: 36px;
            max-width: 36px;
            max-height: 36px;
            background-color: $primaryColor;
            border-radius: 10%;
            -webkit-border-radius: 10%;
            -moz-border-radius: 10%;
            -ms-border-radius: 10%;
            -o-border-radius: 10%;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            i{
                font-size: 18px;
            }
            &:hover{
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
    .footer-bottom{
        background-color: $footerBottomBgColor;
        border-top: 1px solid #FFFFFF4D;
        .copyright{
            color: #FFF2F2;
            font-size: 14px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            padding-top: 18px;
            padding-bottom: 17px;
            a{
                color: $primaryColor;
            }
        }
    }
}